@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .downloadApp {
    background: none !important;
    outline: 1px solid white !important;
    border: none !important;
    margin-left: 0.5px !important;
  }
  .downloadApp:hover {
    outline-color: #5cc8ff !important;
    color: #5cc8ff;
  }
}

.hamburger-react {
  @apply *:h-[2px] *:w-[25px];
}

.globalPadding {
  @apply px-4 py-4 xm:px-5 md:px-8;
}

.sectionMargin {
  @apply mt-16 md:mt-20 xl:mt-24;
}

.active {
  @apply text-primary;
}
.active.linkBorderBottom {
  @apply text-bgDarkColor1;
}

.active span {
  @apply scale-100;
}

.alice-carousel__stage-item.__active .show {
  @apply translate-x-0 delay-700;
}

.nth-child-even :nth-child(even) {
  @apply text-left md:flex-row-reverse !important;
}
.noBg {
  background: none !important;
}

.textLeft > * {
  text-align: left !important;
  padding-left: 0 !important;
}
.textLeft p:last-of-type {
  justify-content: start !important;
}

.textLeft .width {
  @apply w-[75%];
}

.textLeft .priceTitle {
  @apply text-3xl md:text-4xl;
}

.textLeft .description {
  @apply !mb-6 text-base font-medium xxm:text-lg;
}

.inputLabel {
  top: 0.2rem;
  opacity: 1;
}

.textInput:focus + label.textLabel {
  @apply !text-bgDarkColor;
}

.phoneInputStyle {
  @apply textInput !ml-4 w-full !rounded-md border !border-lightPrimary !bg-bgColor !px-6 !py-7 !text-base !font-semibold capitalize !text-bgDarkColor1 !outline-none transition-all duration-100 ease-linear first-letter:capitalize placeholder:text-sm placeholder:font-medium placeholder:text-Darkgray placeholder:text-opacity-70 focus:border focus:!border-primary focus:placeholder:text-opacity-0 m:placeholder:text-base;
}

.react-international-phone-country-selector {
  @apply !h-full;
}

.react-international-phone-country-selector-button {
  @apply !h-full !rounded-md  !border-lightPrimary px-3 focus:!border-primary;
}

.pricingItemHover:hover {
  cursor: pointer;
  @apply border-primary2;
}

.pricingItemHover:hover .price {
  @apply bg-primary2 text-bgColor;
}

.borderBottomNone:last-of-type {
  @apply ml:border-b-0;
}
.bordertop:first-of-type {
  @apply ml:border-t-[1px];
}
.alice-carousel__stage-item .priceItemTag:first-of-type {
  @apply ml-0;
}

/* .alice-carousel__stage-item .priceItemTag {
  @apply mr-4 !important;
} */
/* .alice-carousel__stage-item .priceItemTag:last-child {
  @apply mr-0 !important;
} */

.alice-carousel__stage-item {
  @apply ml-1 !important;
}

.active.priceItemTag {
  @apply bg-lightBlue;
}

.afterParentGradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    rgba(36, 42, 46, 0.5),
    rgba(36, 42, 46, 0.5)
  );
  border-radius: 0.25rem;
}
